html{
    height: 100%;
    width: 100%;
}

body{
    background:black;
    color:white;
    height: inherit;
    width: inherit;
    margin: 0;
    font-family: monospace;
}

/*#cmd{
background:black;
color:inherit;
border:none;
}*/

pre {
    margin: 0;
}

.hidden {
    position:absolute;
    left:-10000px;
    top:auto;
    overflow:hidden;
}

.ps1 {
    color: red;
}


.cmdline input {
    font-family: inherit;
    font-size: inherit;
    background: inherit;
    color: inherit;
    width: 50%;
    border: none;
    padding: 0;
    margin: 0;
    line-height: 10px;
}

.cmdline input:focus {
    outline: 0;
}

/*.cmdline:after {
    color: orange;
    content: '║';
}*/

.console {
    height: inherit;
    width: inherit;
    overflow: auto;
}
