html{
    height: 100%;
    width: 100%;
}

body{
    background:black;
    color:white;
    height: inherit;
    width: inherit;
    margin: 0;
}

/*#cmd{
background:black;
color:inherit;
border:none;
}*/

pre {
    margin: 0;
}

.hidden {
    position:absolute;
    left:-10000px;
    top:auto;
    overflow:hidden;
}

.ps1 {
    color: red;
    font-weight:bold;
}

.cmdline:after {
    color: orange;
    content: '║';
}

.console {
    height: inherit;
    width: inherit;
}
