<!DOCTYPE html>
<html ng-app="browserOS">
<head>
<meta charset=utf-8 />
<title>Browser OS</title>
<link rel="stylesheet" href="css/main.css">
</head>
<body>
    <div ng-controller="ConsoleController">
        <div>
            <code ng-repeat="line in output">
                <span class="ps1">{{line[0]}}</span>{{line[1]}}<br>
            </code>
        </div>
        <code class="cmdline"><span class="ps1">{{cmdPrompt()}}</span>{{command}}</code>
        <form ng-submit="execCommand()">
            <input type="text" ng-model="command" class="hidden" id="cmd">
        </form>
    </div>
    <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.0.7/angular.min.js"></script>
    <script src="js/lodash.compat.js"></script>
    <script src="js/mousetrap.min.js"></script>
    <script src="js/mousetrap-bindGlobal.min.js"></script>
    <script src="js/main.js"></script>
</body>
</html>
