<!DOCTYPE html>
<html ng-app="browserOS">
<head>
<meta charset=utf-8 />
<title>Browser OS</title>
<link rel="stylesheet" href="css/main.css">
</head>
<body>
    <div class="console" ng-controller="ConsoleController" style="background: {{bgColor}}; color: {{fgColor}}; font-size: {{fnSize}}; font-family: {{fnFamily}}">
        <div>
            <div ng-repeat="line in output">
                <span class="ps1" style="color: {{prColor}};">{{line[0]}}</span>{{line[1]}}<br>
            </div>
        </div>

        <form ng-submit="execCommand()">
            <div class="cmdline"><span class="ps1" style="color: {{prColor}};">{{cmdPrompt()}}</span><input type="text" ng-model="command" id="cmd"></div>
        </form>
    </div>
    <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.0.7/angular.min.js"></script>
    <script src="js/lodash.compat.js"></script>
    <script src="js/mousetrap.min.js"></script>
    <script src="js/mousetrap-bindGlobal.min.js"></script>
    <script src="js/main.js"></script>
</body>
</html>
